* {
  font-family: "Poppins", sans-serif !important;
}
.para-1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
}
.book-call-btn {
  background: #C6273A;
  color:white;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  min-height: 50px;
  padding: 0 20px;
  width: 100%;
  max-width: 200px;
}
.book-call-btn:hover {
  cursor: pointer;
}
.custom-card {
  height: 370px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.card-text {
  font-size: 16px;
  font-weight: 400;
  color:#413E3E;
  line-height: 24px;
}
.card-link {
  font-size: 16px;
  font-weight: 500;
  color:#C6273A;
  line-height: 24px;
  margin-top: auto;
}
.card-img-top {
  width: 100%;       
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px; 
}
.head-row{
  background: #F4E6EA;
}
.head-para{
  color:#161111;
  font-weight: 600;
  font-size: 16px;
}
.grid-btn {
  background: #C6273A;   
  color: white;        
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 50px;
  text-decoration: none;
  border:none;
}
@media (max-width: 575px) {
  .book-call-btn {
    font-size: 14px;   
    min-height: 40px;  
    max-width: 120px;     
    padding: 0 15px;      
  }
  .logo-image {
    width: 100px;        
    height: auto;       
  }
  .para-1 {
    font-size: 16px;
  }
}